<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="main-container">
        <div class="left-panel">
            <div class="box map-container">
                <div class="map-placeholder">
                    <h2>Gambar Denah</h2>
                    </div>
            </div>

            <div class="camera-section">
                <h3>Cuplikan Gambar</h3>
                <div class="box camera-container">
                    <h2>Gambar Keadaan</h2>
                    </div>
            </div>
        </div>

        <div class="right-panel">
            <div class="status-section">
                <p class="status-line">
                    Status Robot: <br>
                    <span class="text-green">Siap</span> / 
                    <span class="text-blue">Mengantar</span> / 
                    <span class="text-red">Terganggu</span> / 
                    <span class="text-black">Mati</span>
                </p>
                
                <p class="status-line">
                    Destinasi: <span class="text-red">[Kosong]</span> / <span class="text-blue">[A/B/C/D]</span>
                </p>
            </div>

            <div class="control-section">
                <h3>Pergi Ke</h3>
                
                <div class="button-grid">
                    <button class="btn">A</button>
                    <button class="btn">B</button>
                    <button class="btn">C</button>
                    <button class="btn">D</button>
                </div>
                
                <button class="btn btn-station">Station</button>
            </div>
        </div>
    </div>

</body>
</html>